<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cities</title>
  <link rel="stylesheet" href="./../style.css" />
</head>
<body>

  <h1><%= city.name %></h1>
  <h3><%= city.brewery %></h3>
  <h3><%= city.description %></h3>
  <h3><%= city.alcoholContent %></h3>
  <h3><%= city.bar %></h3>

</body>
</html>